body {
  text-align: center;
  background: lightgray;
}

#img-div {
  background: white;
  width: 98%;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#img-caption {
  padding: 20px 0;
}

#quote-block {
  padding: 10px 0px;
}

ul {
  display: inline-block;
  text-align: left;
  margin: 0% 15%;
}

li {
  margin-top: 15px;
}